#fish-headings {
    font-size: 25px;
    z-index: 10;
}

#fish-headings div {
    font-size: 1em;
    color: darkred;
}

#fish-headings div.enabled {
    color: black;
    font-size: 1em;
}

#fish-headings div.disabled {
    color: black;
    opacity: 1;
    font-size: .5em;
    left: 70%;
}

/* Avoid jump */
#fish-headings div span:nth-child(1) {
    min-width: 40px;
}
